<body data-preloader="2">
    <div class="section-fullscreen">
        <div class="container">
            <div class="position-top">
                <h4 class="font-weight-normal">
                    <%= link_to "Artemis Pharma", root_path, data: { turbolinks: false } %>
                </h4>
            </div><!-- end position-top -->
            <div class="position-middle">
                <h1 class="display-2 font-weight-bold">Merci !</h1>
                <h3 class="font-weight-extra-light margin-0 text-black-06">Nous mettons tout en oeuvre pour vous répondre dans les plus brefs délais. Si toutefois, votre requête est laissée sans réponse, nous vous encourageons à nous contacter par téléphone.</h3>
            </div><!-- end position-middle -->
        </div><!-- end container -->
    </div>
	</body>